
body {
  margin: 0;
  background-color:white;
  display:flex; 
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  
}
#canvas {

    /* position: relative; */
    /* z-index: 1; */
    /* display: none; */

  }

  .title2{
    color:#282828;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    background-color: white;
    padding: 1rem;
    border: 4px solid #282828;
    border-radius: 10px;

  }
 .start-page{
    /* background-color:white; */
    background-image: url(/assets/startPage.png);
    border: 2px solid #282828;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    width: 1024px;
    flex-direction: column;
    height: 576px;
    border-radius: 6px ;
  }
.btn{
  width: 5rem;
  height: 3rem;
  border: 2px solid #282828;
  background-color: white;
  border-radius: 6px ;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.page{
  display: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
  display: none; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #282828;
  font-size: 1rem;
  width: 1024px;
  border-radius: 6px ;
  font-weight: 600;
  height: 576px;

}

.btn1{
  width: 5rem;
  height: 3rem;
  border: 2px solid #282828;
  background-color: white;
  border-radius: 6px ;
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin-top: 3rem;
}

.btn2{
  width: 5rem;
  height: 3rem;
  border: 2px solid #282828;
  background-color: white;
  border-radius: 6px ;
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin-top: 2rem;
}

.btn3{

  height: 3rem;
  border: 2px solid #282828;
  background-color: white;
  border-radius: 6px ;
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin-top: 2rem;
}

p{
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding-left: 10rem;
  padding-right: 10rem;
}

.img-next{
  display: flex;

}

#creddy{
  position: absolute;
  top: 113px;
  left: 250px;
}

#img{
  padding-left: 10rem;
}
#container {
  position: relative;
  height:576px;
  width:1024px;
  display: none;
}
#container #canvas, #overlay {
  position: absolute;
  height:576px;
   width:1024px;
   z-index:9999;
   background-color: rgba(40, 40, 40, 0.50);
  

}
#container #renderer, #overlay {
  position: absolute;
  height:576px;
   width:1024px;
   z-index:10000;
   background-color: rgba(40, 40, 40, 0.50);
  

}

.small-overlay{
height: 288px;
width: 512px;
border: 4px solid #282828;
border-radius: 10px;
background-color: white;
align-items: center;

display:flex;
flex-direction: column;

}

.small-overlay p{
  padding-right: 4rem;
  padding-left: 4rem;
}

.small-overlay  input{
  margin-right: 4rem;
  margin-left: 4rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #282828;
  text-align: center; 

}
.insta-underlay input{
  margin-right: 4rem;
  margin-left: 4rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #282828;
  text-align: center; 

}

.small-overlay button{
margin-top: 2rem;
height: 2rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border-bottom: 4px solid #85A0FA;
}

.username-div{
  width: fit-content;
  display: flex;

  height: 30px;

  background-color: white;
  border: 4px solid #282828;
  border-radius:10px;
  align-items: center;
  

}
.username-div2{
  width: fit-content;
  position: absolute;
  align-items: left;
  display: flex;
padding: 1rem;
  height: fit-content;
flex-direction: column;
  background-color: white;
  border: 4px solid #282828;
  border-radius:10px;
  /* position: absolute;
  top: 20;
  left: 300px; */
  transform: translateX(0px);
  /* -webkit-animation: move 3s; */
  /* animation: move 3s; */
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;


}

.username-div3{
  width: fit-content ;
  position: absolute;
  align-items: left;
  display: flex;
padding: 2rem;
  height: fit-content;
flex-direction: column;
  background-color: white;
  border: 4px solid #282828;
  border-radius:10px;
  transform: translateX(0px);
  animation: move 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;


}
#cr-logo{
  width: 20px;
  height: 20px;
padding-left: 0.5rem;

}

.username{
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 14px;

}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height:576px;
  width:1024px;
  
}

.right{
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  display: none;
}

.bottom{
  display: none;
  height:495px;
  width:1024px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}
.caption{
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  font-size: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#renderer{
  display:none;
}

.threejs-overlay {
  position: absolute;
  display: none;
  z-index: 100000;
  left: 28%;
  top: 88%;
  }

  #picture{
    height: 194px;
width: 306px;

  }
  #final-pic{
    height: 144px;
    width: 246px;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   padding-top: 2rem;
   padding-bottom: 1rem;
    display: none;
  }
  .caption1{
    display: flex;
    align-items: flex-end;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

  }

  .picture-underlay{
    margin-top: 4rem;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 234px;
    width: 346px;
    background-color: white;
    border: 4px solid #282828;
    width: ;
  }
  .insta-underlay{
    margin-top: 4rem;
    display:none;
flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 194px;
    width: 306px;
    background-color: white;
    border: 4px solid #282828;

  }
  #title{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
  

  }

  #subtitle{
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding-top: 2px;
  font-size: 12px;
  color: #666666;
  }

  .title{
        font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;

  }

  .username-prod{
    padding-top: 0.5rem;
  }
  .insta{
    padding-top: 0.5rem;
    display: none;
  }
  .ai{
    padding-top: 0.5rem;
    display: none;
  }
  .edit{
    padding-top: 0.5rem;
    display: none;
  }
  #view{

    display: none;
  }


  #animate {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(0px);
    -webkit-animation: move 3s;
    /* animation: move 3s; */
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  @-webkit-keyframes move {
     /* from { -webkit-transform: translateX(230px); } */
     to { -webkit-transform: translate(-320px, 230px);    }
  }
  @keyframes move {
     /* from { transform: translateX(230px); } */
     to { transform: translate(-300px, 15px);
     
    
    }; 
  }